old/*
bin/*
forms/ui_imviewerControlPanel.h
forms/ui_imviewerStats.h
forms/ui_rtimvMainWindow.h
forms/ui_rtplot.h
makefile.librtimv
makefile.rtimv
moc/*
obj/*
res/qrc_imviewer.cpp
*~
*.stash
doc/html
.vscode
.DS_Store
